* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a,
a:hover
 {
	text-decoration: none;
	color: white;
}

h1 {
	margin: 20px;
  	text-align: center;
	color: #f0f0f0;
	font-family: "Cinzel Decorative";
}

hr {
	margin-top: 50px;
	margin-left: 144px;
	margin-right: 144px;
	background: #a8a8a8;
}

.text-container {
    display: grid;
    justify-content: center;
    padding: 30px;
}

.App {
	padding-top: 5em;
}

@media (max-width: 560px) {
	p {
		font-size: 1em;
	}
}